[Unit]
Description=Zennoh DDS plugin launch
Wants=network-online.target autoware.service
After=network-online.target autoware.service

[Service]
User=user
WorkingDirectory=/home/user/VehicleConfig
Type=simple
ExecStart=/bin/bash /home/user/VehicleConfig/FM1.sh
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
